<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2> .......Staff Registration Page......</h2>
<h2>if you are already registered..</h2>
<a href = {% url 'login' %}> "log in"</a> <br>

<a href = {% url 'logout' %}> "log out"</a> <br>

<h2>registration in here.....</h2>

{% block content %}

    <form method="POST">

    {% csrf_token %}


      {{ reg_form.as_p }}

        <input type="submit" </input>
    </form>

{% endblock content %}


</body>
</html>